{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>Welcome, {{ current_user.username }}!</h2>
  {% set role_groups = current_user.role|get_role_groups %}
  <p>Detected role groups: {{ role_groups }}</p>
  {% if 'student' in role_groups %}
    <p>You are logged in as a student.</p>
    <!-- Add student-specific content here -->
  {% elif 'faculty' in role_groups %}
    <p>You are logged in as a faculty member.</p>
    <a href="{{ url_for('views.faculty_only') }}" class="btn btn-primary">Faculty Only Page</a>
    <!-- Add faculty-specific content here -->
  {% elif 'admin' in role_groups %}
    <p>You are logged in as an admin.</p>
    <a href="{{ url_for('views.faculty_only') }}" class="btn btn-primary">Faculty Only Page</a>
    <a href="{{ url_for('views.list_users') }}" class="btn btn-primary">User List</a>
    <!-- Add admin-specific content here -->
  {% endif %}
  <a href="{{ url_for('views.register') }}" class="btn btn-primary">Register</a>
  {% if 'other' in role_groups or 'admin' in role_groups or 'superadmin' in role_groups %}
    <a href="{{ url_for('views.manual_student_entry') }}" class="btn btn-primary">Manual Student Entry</a>
  {% endif %}
{% endblock %}
